{% load form_tags %}

<div class="field">
{{field.field.widget.}}
    {% if field.field.widget.input_type == 'checkbox' %}
        {{ field.label_tag | add_tag_class:"checkbox" | safe }}
        {{ field }}
    {% elif field.field.widget.input_type == 'radio' %}
        {{ field.label_tag | add_tag_class:"radio" | safe }}
        {{ field }}
    {% elif field.field.widget.input_type == 'select' %}
        {{ field.label_tag }}
        {{ field }}
    {% elif field.field.widget|to_class_name == "Textarea" %}
        {{ field.label_tag | add_tag_class | safe }}
        <div class="control">
            {% if field.errors|length  > 0 %}
                {% with extra_class="textarea is-danger" %}     
                    {{ field | bulma_input:extra_class }}
                {% endwith %}
            {% else %}
                {% with extra_class="textarea" %}     
                    {{ field | bulma_input:extra_class }}
                {% endwith %}
            {% endif %}
        </div>
    {% else %}
        {{ field.label_tag | add_tag_class | safe }}
        <div class="control">
            {% if field.errors|length  > 0 %}
                {% with extra_class="input is-danger" %}     
                    {{ field | bulma_input:extra_class }}
                {% endwith %}
            {% else %}
                {% with extra_class="input" %}     
                    {{ field | bulma_input:extra_class }}
                {% endwith %}
            {% endif %}
        </div>
    {% endif %}
    {% for error in field.errors %}
        <p class="help is-danger">{{ error }}</p>
    {% endfor %}
</div>