{% load static i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Default Title{% endblock  %}</title>
        
        {% comment %} STYLES {% endcomment %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>

        <div class="container is-max-widescreen">
            <div class="columns ">
                <div class="column has-text-centered">
                    <a class="hvr-buzz-out" href="/" title="Chuck Norris Jokes">
                        <figure class="image is-inline-block">
                            <img style="max-width:300px;" alt="Chuck Norris Jokes" src="https://api.chucknorris.io//img/chucknorris_logo_coloured_small.png" srcset="https://api.chucknorris.io//img/chucknorris_logo_coloured_small@2x.png 720w">
                        </figure>           
                    </a>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        
        {% block js %}{% endblock %}

        <footer class="footer">
            
            <script defer>
                class LanguageManager {
                    constructor() {
                        this.form = document.querySelector('#language-form');
                        this.select = document.querySelector('#language-select');

                        this.select.addEventListener('change', () => {
                            this.form.submit();
                        });
                    }
                }

                document.addEventListener('DOMContentLoaded', () => {
                    window.LanguageManager = new LanguageManager();
                });
            </script>

            <div class="columns column is-2">
                <form action="{% url 'change_language' %}" method="post" id="language-form">
                    {% csrf_token %}
                    <div class="select">
                        <select name="language" id="language-select">   
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for language in LANGUAGES %}       
                            <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.0|language_name_local }} ({{ language.0 }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div> 
            <div class="content has-text-centered">
                <p>
                    <strong>{% trans "© 2020 Chucknorris Jokes by Joel Jiménez - Metadata by api.chucknorris.io" %}</strong>
                </p>
            </div>
        </footer>
    </body>
</html>