{% extends 'base.html' %}

{% load i18n utils_tags %}

{% block content %}

{% if result.is_multiresult %}
    <h1 class="title">{% blocktrans with search=result.search.search %}Result for: {{ search }}{% endblocktrans %}</h1>
    <div class="content">
        {% for item in data %}
            <div class="box">
                {{ item.value }}
            </div>
        {% endfor %}
    </div>

    {% if data.has_other_pages %}
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        {% if data.has_previous %}
            <a class="pagination-previous" href="?page={{ data.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}

        {% if data.has_next %}
            <a class="pagination-next" href="?page={{ data.next_page_number }}">{% trans "Next" %}</a>
        {% endif %}

        <ul class="pagination-list">
            {% for i in data.paginator.page_range %}
            {% if data.number == i %}
                <li class="active"> <a class="pagination-link is-current">{{ i }}</a></li>
            {% else %}
                <li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% else %}
    <h1 class="title">{% trans "Result" %}</h1>
    <div class="box">
        {{ result.data }}
    </div>
{% endif %}


{% endblock content %}