{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        {% include 'forms/field.html' %}
    {% endfor %}

    {% if form.non_field_errors %}
        <span class="help is-danger">{{ form.non_field_errors }}</span>
    {% endif %}

    <button class="button is-success" type="submit">{% trans 'Get a Joke!' %}</button>
</form>

{% endblock content %}

{% block js %}

<script>

class SearchFormManager {
    constructor() {
        this.searchTypeInput = document.querySelectorAll('input[name="search_type"]');
        this.searchInput = document.querySelector('#id_search');
        this.categoryInput = document.querySelector('#id_category');
        
        this.searchTypeInput.forEach(input => {
            input.addEventListener('change', event => {
                this.refreshDisplay();
            });
        });
    }

    refreshDisplay() {
        let checked = null;
        this.searchTypeInput.forEach(input => {
            if(input.checked) {
                checked = input
            }
        });

        if(checked.value == 'words') {
            this.searchInput.closest('.field').classList.remove('is-hidden');
            this.categoryInput.closest('.field').classList.add('is-hidden');
        } else if(checked.value == 'category') {
            this.searchInput.closest('.field').classList.add('is-hidden');
            this.categoryInput.closest('.field').classList.remove('is-hidden');
        } else if(checked.value == 'random'){
            this.searchInput.closest('.field').classList.add('is-hidden');
            this.categoryInput.closest('.field').classList.add('is-hidden');
        } else {
            console.error('Please select search type.')
        }
    }
}

document.addEventListener('DOMContentLoaded', () => {
    window.SearchFormManager = new SearchFormManager();
    window.SearchFormManager.refreshDisplay();
});

</script>

{% endblock js %}